@use "~vars/pads";

.header {
    padding-top: 0;
    height: 80px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
    }
}
