@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";

.cartWarning {
    padding: $pad4;
    margin-top: $pad3;

    font-size: $font_xs;
    color: $dark_gray;
    border: 1px solid #ffc658;
}
