@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/pads";

.categoryDesription {
    padding: $pad6 0;

    .name {
        font-size: $font_sm;
    }

    .description {
        margin-top: $pad2;

        font-size: $font_xs;
        color: $dark_gray;
    }
}
