.productImageWrapper {
    position: relative;

    padding-bottom: 66.66%;

    overflow: hidden;

    .productImage {
        position: absolute;
    }
}

.productImage {
    display: block;

    width: 100%;
}
