@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/pads";
@import "~vars/screen";

.pricesSelect {
    .pricesWrapper {
        display: flex;

        .priceSelectInput {
            flex: 1 1 100px;
        }

        .priceSelectInput + .priceSelectInput {
            margin-left: 16px;
        }
    }
}

@media all and (max-width: $screen_md) {
    .pricesSelect {
        .pricesWrapper {
            .priceSelectInput {
                text-align: center;
            }
        }
    }
}
