@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/pads";

.pricesSelect {
    .pricesWrapper {
        display: flex;

        .priceSelectInput {
            flex: 1 1 100px;
        }

        .priceSelectInput + .priceSelectInput {
            margin-left: 16px;
        }
    }
}
