@use "~vars/screen";
@use "~vars/pads";
@use "~vars/colors";

.linksBlock {
    padding-top: pads.$pad2;
    margin-top: pads.$pad6;

    .linksBlockTitle {
        padding: pads.$pad1 0;
        border-bottom: 2px solid colors.$dark_gray;
        font-weight: bold;
    }

    .linksBlockContent {
        padding-top: pads.$pad6;
    }
}

@media (min-height: screen.$screen_md) {
    .linksBlock {
        margin-top: pads.$pad6;
    }
}
