@use "~vars/pads";

.header {
    padding: pads.$pad6;
    padding-top: 0;
    height: 120px;

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
    }
}
