@use "~vars/screen";
@use "~vars/pads";

.footerLinks {
    width: 100%;

    flex: 1 1 auto;
    padding-top: pads.$pad4;
}

@media (min-width: screen.$screen_md) {
    .footerLinks {
        margin-left: pads.$pad12 !important;
    }
}
