$pad0: 0.25rem * 0;
$pad1: 0.25rem * 1;
$pad2: 0.25rem * 2;
$pad3: 0.25rem * 3;
$pad4: 0.25rem * 4;
$pad5: 0.25rem * 5;
$pad6: 0.25rem * 6;
$pad7: 0.25rem * 7;
$pad8: 0.25rem * 8;
$pad9: 0.25rem * 9;
$pad10: 0.25rem * 10;
$pad11: 0.25rem * 11;
$pad12: 0.25rem * 12;
$pad13: 0.25rem * 13;
$pad14: 0.25rem * 14;
$pad15: 0.25rem * 15;
$pad16: 0.25rem * 16;
