@use "~vars/screen";
@use "~vars/colors";
@use "~vars/pads";

.footer {
    background: colors.$light_gray;

    .footerContent {
        display: flex;
        flex-direction: column;
        padding: pads.$pad10;
    }
}

@media (min-width: screen.$sm) {
    .footer {
        .footerContent {
            flex-direction: row;
        }
    }
}
