@use "~vars/screen";
@use "~vars/colors";
@use "~vars/pads";

.footer {
    padding-top: pads.$pad10;
    padding-bottom: pads.$pad10;

    background: colors.$light_gray;
}

@media (min-width: screen.$screen_md) {
    .footer {
        .footerContent {
            flex-direction: row;
        }
    }
}
