@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/pads";

.checkoutInputWrapper {
    & + & {
        margin-top: $pad4;
    }

    .label {
        color: $black;
        font-size: $xs;

        padding-bottom: $pad1;
    }
}
