@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/pads";

.checkoutInputWrapper {
    & + & {
        margin-top: $pad4;
    }

    .label {
        color: $black;
        font-size: $xs;

        padding-bottom: $pad1;

        .asteriks {
            color: red;
            margin-left: 3px;
        }
    }

    .input.error {
        border: 0.5px solid red;
    }

    .errorView {
        font-size: $xs;
        color: red;
    }
}
