@import "~vars/pads";
@import "~vars/screen";
@import "~vars/mixins";

.cartPage {
    padding-top: $pad6;
    padding-bottom: $pad12;

    .cartItems {
        margin-top: $pad6;

        @include fadeOut(0.3s);

        .cartItemContainer {
            margin-top: $pad6;
        }
    }

    .sidePanel {
        padding-left: $pad4;

        .checkout {
            margin-top: $pad8;
        }
    }
}

@media all and (max-width: $screen_md) {
    .cartPage {
        .sidePanel {
            padding-left: 8px;
            padding-right: 8px;
            margin-top: $pad8;
        }
    }
}
