@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/screen";
@import "~vars/borders";

.productCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;

    .productCardContent {
        display: flex !important;
        flex-direction: column;

        height: 100%;

        font-family: 'PT Sans', sans-serif;

        .productImageWrapper {
            border-radius: 5px 5px 0 0;

            .productImage {
                transition: transform 0.25s ease-in-out;
            }
        }

        .productInfo {
            padding: $pad2 $pad1 $pad2;

            font-size: $font_lg;

            .productPrice {
                color: $black;
            }

            .productWeight {
                color: $dark_gray;
                font-size: $font_xs;
            }

            .productName {
                margin-top: $pad1;
                font-size: $font_sm;
            }
        }
    }

    .productCardContent:hover,
    .productCardContent:focus {
        outline: none;

        .productImageWrapper {
            .productImage {
                transform: scale(1.1);
            }
        }
    }

    .cartButton {
        border-radius: $small_radius;
    }
}

.productCardSkeleton {
    .skeletonImage {
        height: 0;
        padding-bottom: 66.66%;
    }

    .skeletonContent {
        padding: $pad2;

        .skeletonName {
            display: block;
            margin-top: $pad2;
        }
    }
}

@media all and (max-width: $screen_md) {
    .productCard {
        .productCardContent {
            .productInfo {
                .productPrice,
                .productWeight {
                    font-size: $font_sm;
                }
            }
        }
    }
}
