@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/screen";

.productCard {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    font-family: 'PT Sans', sans-serif;

    border: 0.5px solid #dbdbdb;

    .productImageWrapper {
        .productImage {
            transition: transform 0.25s ease-in-out;
        }
    }

    .productInfo {
        padding: $pad2 $pad1 $pad2;

        font-size: $lg;

        .productPrice {
            color: $black;
        }

        .productWeight {
            color: $dark_gray;
            font-size: $xs;
        }

        .productName {
            margin-top: $pad1;
            font-size: $sm;
        }
    }

    .cartButton {
        margin-top: auto;
    }
}

.productCard:hover,
.productCard:focus {
    outline: none;

    .productImageWrapper {
        .productImage {
            transform: scale(1.1);
        }
    }
}

@media all and (max-width: $screen_md) {
    .productCard {
        .productCardContent {
            .productInfo {
                .productWeight {
                    font-size: $lg;
                }
            }
        }
    }
}
