@import "~vars/pads";
@import "~vars/colors";
@import "~vars/fonts";
@import "~vars/screen";

.productCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;

    .productCardContent {
        display: flex !important;
        flex-direction: column;

        height: 100%;

        font-family: 'PT Sans', sans-serif;

        .productImageWrapper {
            border-radius: 5px 5px 0 0;

            .productImage {
                transition: transform 0.25s ease-in-out;
            }
        }

        .productInfo {
            padding: $pad2 $pad1 $pad2;

            font-size: $lg;

            .productPrice {
                color: $black;
            }

            .productWeight {
                color: $dark_gray;
                font-size: $xs;
            }

            .productName {
                margin-top: $pad1;
                font-size: $sm;
            }
        }
    }

    .productCard:hover,
    .productCard:focus {
        outline: none;

        .productImageWrapper {
            .productImage {
                transform: scale(1.1);
            }
        }
    }

    .cartButton {
        border-radius: 0 0 5px 5px;
    }
}

@media all and (max-width: $screen_md) {
    .productCard {
        .productCardContent {
            .productInfo {
                .productWeight {
                    font-size: $lg;
                }
            }
        }
    }
}
