@use "~vars/screen";
@use "~vars/pads";

.header {
    padding: pads.$pad4;
    padding-top: 0;

    height: 80px;

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
    }
}
