@import "~vars/fonts";
@import "~vars/colors";
@import "~vars/pads";

.orderGeneralInfo {
    .orderHeadline {
        font-size: $font_xxxl;
    }

    .declineReminder {
        color: $dark_gray;
        margin-top: $pad2;
    }
}
