@import "~vars/colors";
@import "~vars/pads";
@import "~vars/fonts";
@import "~vars/screen";

$modalBorderRadius: 5px;

.cartModalPortal {
    z-index: 1;
}

.cartModalContent {
    display: flex;
    align-items: stretch;

    .productImageContainer {
        flex: 0 0 300px;
        width: 300px;

        .productImageWrapper {
            border-radius: $modalBorderRadius 0 0 $modalBorderRadius;
            height: 100%;

            .productImage {
                height: 100%;
                width: auto;
            }
        }
    }

    .cartProduct {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;

        .cartProductInfo {
            flex: 1 1 auto;
            padding: 20px 24px 20px 12px;

            .modalCaption {
                color: $dark_gray;
                font-size: $font_xs;
                font-weight: normal;
            }

            .productName {
                margin-top: $pad2;

                color: $black;
                font-size: $font_xl;
                font-weight: normal;
            }

            .productsCountContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-top: $pad6;

                .productPrice {
                    font-size: $font_xxl;
                    color: $black;
                }
            }
        }

        .cartModalControls {
            display: flex;
            width: 100%;
            padding: $pad4;

            .cartLink + .cartLink {
                margin-left: $pad3;
            }

            .cartLink {
                width: auto;
                flex: 1 0 auto;

                background: $firm;
                color: white;
                font-size: $font_sm;

                border-radius: $modalBorderRadius;
            }

            .continueBuyingLink {
                background: $firm_secondary;
                color: $firm;
            }
        }
    }
}

@media all and (max-width: $screen_md) {
    .cartModalContent {
        flex-direction: column;

        .productImageContainer {
            flex: auto;
            width: 100%;

            .productImageWrapper {
                border-radius: $modalBorderRadius $modalBorderRadius 0 0;

                .productImage {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .cartProduct {
            flex: 1 1 auto;

            display: flex;
            flex-direction: column;

            .cartProductInfo {
                flex: auto;

                .productName {
                    margin-top: $pad1;

                    font-size: $font_lg;
                }

                .productsCountContainer {
                    .productPrice {
                        font-size: $font_lg;
                    }
                }
            }

            .cartModalControls {
                flex-direction: column;

                .cartLink + .cartLink {
                    margin-left: 0;
                    margin-top: $pad3;
                }

                .cartLink {
                    width: auto;
                    flex: 1 0 auto;

                    background: $firm;
                    color: white;
                    font-size: $font_sm;

                    border-radius: $modalBorderRadius;
                }

                .continueBuyingLink {
                    background: $firm_secondary;
                    color: $firm;
                }
            }
        }
    }
}
