@use "~vars/pads";

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    max-height: 0;
    transition: max-height 0.3s;

    .navItem {
        display: flex;
        justify-content: center;
        padding: pads.$pad3;
    }
}

.navbar.entering,
.navbar.entered {
    max-height: 200px;
}

.navbar.exiting,
.navbar.exited,
.navbar.unmounted {
    max-height: 0;
}
