@use "~vars/pads";

@import "~vars/colors";
@import "~vars/fonts";

.navbar {
    overflow: hidden;

    background: $light_gray;

    max-height: 0;
    transition: max-height 0.3s;

    .navbarContent {
        padding-top: pads.$pad5;
        padding-bottom: pads.$pad5;

        .navItem {
            padding: pads.$pad4;
            padding-bottom: pads.$pad2;
            padding-top: pads.$pad2;

            font-size: $font_lg;
        }
    }
}

.navbar.entering,
.navbar.entered {
    max-height: 300px;
}

.navbar.exiting,
.navbar.exited,
.navbar.unmounted {
    max-height: 0;
}
