@import "~vars/screen";

.logoContainer {
    position: relative;

    align-self: initial;
    height: 100%;

    .logo {
        height: 100%;
    }
}

@media all and (max-width: $screen_sm) {
    .logoContainer {
        position: relative;

        align-self: flex-start;
        height: 80%;

        .logo {
            height: 100%;
        }
    }
}
