@use "~vars/screen";
@use "~vars/pads";
@use "~vars/fonts";

.footerContacts {
    .companyName {
        font-weight: bold;
        font-size: fonts.$xxxl;
    }

    .contactsContainer {
        margin-top: pads.$pad6;

        .contactsItem {
            margin-top: pads.$pad3;

            font-size: fonts.$xs;
        }
    }
}

@media (min-width: screen.$screen_sm) {
    .footerContacts {
        flex: 0 0 200px;
    }
}
