@import "~vars/colors";
@import "~vars/fonts";

.cartButton {
    display: flex;
    justify-content: center;
    align-items: center;

    .cartIcon {
        display: inline-block;
        height: $font_xs;
    }

    .buttonContent {
        margin-left: 6px;
    }
}

.cartButton.selected {
    background-color: $light_gray;

    .buttonContent {
        margin-left: 6px;
        color: $black;

        .cartLink {
            color: $firm;
        }
    }
}
