@import "~vars/colors";

.cartButton {
    display: flex;
    justify-content: center;
    align-items: center;

    .buttonCaption {
        margin-left: 6px;
    }
}

.cartButton.selected {
    background-color: $light_gray;

    .buttonCaption {
        margin-left: 6px;
        color: $black;

        .cartLink {
            color: $firm;
        }
    }
}
