@import "~vars/fonts";
@import "~vars/pads";
@import "~vars/colors";
@import "~vars/screen";

.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 120px;
    padding-bottom: 160px;

    color: $black;

    .headline {
        font-size: $xxxl;
        font-weight: bold;
    }

    .emptyCartInfo {
        margin-top: $pad6;

        font-size: $xxl;
        font-weight: normal;
        text-align: center;

        .catalogAnchor {
            color: $firm;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .catalogButton {
        margin-top: $pad16;
    }
}

@media all and (max-width: $screen_md) {
    .emptyCart {
        .emptyCartInfo {
            font-size: $xl;
        }
    }
}
